<!-- Controller: AchievementsController - client/app/controllers/achievementsController.js -->
<nav>
  <div class="nav-wrapper grey darken-3">
    <a href="#/" class="brand-logo">Achievements</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#/profile" class="icon left">{{session.firstName}}</a></li>
      <li><a href="#/" class="icon right">Run</a></li>
    </ul>
  </div>
</nav>

<!-- Could implement ng-repeat here -->
<div class="row medalContainerOuter">
  <!-- Medals -->
  <div class="col s2 offset-s2 medalContainerInner">
    <img src="../assets/gold.png" class="icon" />
    <div class="count number"> &nbsp; x &nbsp; <span class="number">0</span></div>
  </div>
  <div class="col s2 medalContainerInner">
    <img src="../assets/silver.png" class="icon" />
    <div class="count number"> &nbsp; x &nbsp; <span class="number">0</span></div>
  </div>
  <div class="col s2 medalContainerInner">
    <img src="../assets/bronze.png" class="icon" />
    <div class="count number"> &nbsp; x &nbsp; <span class="number">0</span></div>
  </div>
  <div class="col s2 medalContainerInner">
    <img src="../assets/high five medal.png" class="icon" />
    <div class="count number"> &nbsp; x &nbsp; <span class="number">0</span></div>
  </div>
</div>
<div class="row summary">
  <div class="col l3 offset-l2 s10 offset-s1">
    <div class="row primary-header">
      <div class="col s12">Totals</div>
    </div>
    <div class="row secondary-header">
      <div class="col s4">Distance</div>
      <div class="col s4">Runs</div>
      <div class="col s4">Run Time</div>
    </div>
    <div class="row summay">
      <div class="col s4">{{ statistics.total.distance }}</div>
      <div class="col s4">{{ statistics.total.runs }}</div>
      <div class="col s4">{{ statistics.total.time }}</div>
    </div>
  </div>
  <div class="col l3 s10 offset-s1">
    <div class="row primary-header">
      <div class="col s12">Average</div>
    </div>
    <div class="row secondary-header">
      <div class="col s4">Distance</div>
      <div class="col s4">Run Time</div>
      <div class="col s4">Pace</div>
    </div>
    <div class="row summary">
      <div class="col s4">{{ statistics.average.distance }}</div>
      <div class="col s4">{{ statistics.average.time }}</div>
      <div class="col s4">{{ statistics.average.pace }}</div>
    </div>
  </div>
  <div class="col l3 s10 offset-s1">
    <div class="row primary-header">
      <div class="col s12">Accomplishments</div>
    </div>
    <div class="row secondary-header">
      <div class="col s4">Longest Run</div>
      <div class="col s4">Fastest Pace</div>
    </div>
    <div class="row summary">
      <div class="col s4">{{ statistics.best.distance }}</div>
      <div class="col s4">{{ statistics.average.pace }}</div>
    </div>
  </div>
</div>
<div class="row calendar-container">
  <!-- Calendar -->
  <div class="calendar calendar-container col s10 l8 offset-s1 offset-l2"></div>
</div>

<div class="row recent-runs">
  <!-- Recent Runs Table  -->
  <div class="col l3 s10 offset-s1 offset-l2">
    <table>
      <thead>
        <tr>
          <th></th>
          <th data-field="latestSeven">Latest7</th>
          <th data-field="previousSeven">Previous7</th>
          <th data-field="diff">Difference</th>
      </thead>
      <tbody>
        <tr>
          <td class="rowHead">Distance</td>
          <td>{{ statistics.latestSeven.distance }}</td>
          <td>{{ statistics.previousSeven.distance }}</td>
          <td>{{ statistics.diff.distance }}</td>
        </tr>
        <tr>
          <td class="rowHead">Avg. Distance</td>
          <td>{{ statistics.latestSeven.avgDistance }}</td>
          <td>{{ statistics.previousSeven.avgDistance }}</td>
          <td>{{ statistics.diff.avgDistance }}</td>
        </tr>
        <tr>
          <td class="rowHead">Avg. Pace</td>
          <td>{{ statistics.latestSeven.pace }}</td>
          <td>{{ statistics.previousSeven.pace }}</td>
          <td>{{ statistics.diff.pace }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Latest Runs and Rate Graph -->
  <div class="col s10 l5 offset-s1">
    <div class="rateGraph"></div>
  </div>
</div>

<div class="container profile center-align" style="margin-bottom: 10px">
  <span><a href="#/" class="waves-effect waves-light grey darken-3 btn">Home<a></span>
</div>
</div>
