<!-- Controller: AuthController - client/app/auth/auth.js -->
<div id='signin' class="container">
  <h1>Sign In</h1>
  <form name="signinForm" ng-submit='signin()'>
    <input type='text'ng-model='user.username' placeholder="username">
    <input type="password" ng-model='user.password' placeholder="password">
    <button class="waves-effect waves-light grey darken-3 btn">Sign In</button>
  </form><br> 
  <fb:login-button scope="public_profile,email" ng-click="testAPI()"></fb:login-button>
  <div class="card-panel red lighten-3" ng-show="errorDetected">{{signinError}}</div>
  <a href="#/signup">Don't have an account?<strong> Sign Up!</strong></a>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '599182990231760',
        xfbml      : true,
        version    : 'v2.5'
      });
    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function testAPI() {
      console.log('Welcome!  Fetching your information.... ');
      FB.api('/auth/login', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
  </script>
</div>



<!-- Controller: AuthController - client/app/auth/auth.js -->
<!-- <div id='signin' class="container">
  <h1>Sign In</h1>
  <form name="signinForm" ng-submit='signin()'>
    <input type='text'ng-model='user.username' placeholder="username">
    <input type="password" ng-model='user.password' placeholder="password">
    <button class="waves-effect waves-light grey darken-3 btn">Sign In</button>
  </form><br>
  <div class="card-panel red lighten-3" ng-show="errorDetected">{{signinError}}</div>
  <a href="#/signup">Don't have an account?<strong> Sign Up!</strong></a>
</div>
 -->