<!-- Controller: AuthController - client/app/auth/auth.js -->
<div id='signup' class="container">
  <h1>Join</h1>
  <form name="signupForm" ng-submit='signup()'>
    <input type='text' ng-model='user.email' placeholder="email">
    <input type="password" ng-model='user.password' placeholder="password">
    <button class="waves-effect waves-light grey darken-3 btn">Join</button>
  </form>
  <button class="waves-effect waves-light grey darken-3 btn fblogin" ng-click="fbsignin()"><img class="fbicon" src="../assets/facebook.png">&nbsp;&nbsp;Login</button>
  <br>
  <div class="card-panel red lighten-3" ng-show="errorDetected">{{signupError}}</div>
  <a href="#/signin">Already have an account?<strong> Signin!</strong></a>
</div>
